.app-container{
    display: flex;

}
.content{
    width: 100%;
}
.mybar{
   
   min-height:750px; 
}
.post-card{
    margin: 20px 50px ;
}
.mywidth{
width: 100%;
margin:10px 0 0 0;
}
.createpost{
    
    margin-left:20%;
    margin-top: 50px;
}
.spinner{
    margin: 10% 0;
}